/* ============ background image ============ */
.golfing-green {
  background-image: url("images/golfing-green.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
/* nav */
nav {
  margin: 0 auto;
  position: absolute;
  bottom: 50px;
}

.navbar-light .navbar-brand {
  color: white;
}
.navbar-light .navbar-brand:hover {
  color: black;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
